<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Grid.js by enterprisebug</title>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="assets/fd-slider/fd-slider.css?v=2">
    <link rel="stylesheet" type="text/css" href="assets/fd-slider/fd-slider-tooltip.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript" src="js/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="assets/fd-slider/fd-slider.js"></script>
    <script type="text/javascript" src="assets/jscolor/jscolor.js"></script>
    <script type="text/javascript" src="dist/grid.js"></script>
</head>
<body ng-app="gridjsSampleApp">
    <div ng-controller="gridjsSampleController">
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="https://github.com/enterprisebug/grid.js">View on GitHub</a>
                <h1 id="project_title">Grid.js</h1>
                <h2 id="project_tagline">Will draw a nice grid on a HTML5 canvas element</h2>
                <section id="downloads">
                    <a class="zip_download_link" href="https://github.com/enterprisebug/grid.js/blob/gh-pages/dist/grid.min.js">grid.min.js</a>
                    <a class="tar_download_link" href="https://github.com/enterprisebug/grid.js/blob/gh-pages/dist/grid.js">grid.js</a>
                </section>
            </header>
        </div>
        <div id="main_content_wrap" class="outer">
            <section id="main_content" class="inner">
                <h2>Demo / Configuration</h2>
                <div id="demo_left">
                    <canvas id="myCanvas" width="340" height="200"></canvas>
                </div>
                <div id="demo_right">
                    <form id="opts">
                        <div>
                            <label>Distance:</label>
                            <input type="text" ng-model="config.distance" ng-change="updateSample(config)" min="5" max="100" step="1" />
                        </div>
                        <div>
                            <label>LineWidth:</label>
                            <input type="text" ng-model="config.lineWidth" ng-change="updateSample(config)" min="0" max="5" step="0.1" />
                        </div>
                        <div>
                            <label>Caption:</label>
                            <input type="checkbox" ng-model="config.caption" ng-change="updateSample(config)" />
                        </div>
                        <div>
                            <label>GridColor:</label>
                            <input type="text" ng-model="config.gridColor" ng-change="updateSample(config)" class="color" />
                        </div>
                        <div>
                            <label>Horizontal Line:</label>
                            <input type="checkbox" ng-model="config.horizontalLines" ng-change="updateSample(config)" />
                        </div>
                        <div>
                            <label>Vertical Line:</label>
                            <input type="checkbox" ng-model="config.verticalLines" ng-change="updateSample(config)" />
                        </div>
                    </form>
                </div>

                <div style="clear:both;"></div>

                <h2>Usage</h2>
                <p>Assume that we have a HTML5 canvas element:</p>
                <div class="highlight"><pre><span class="nt">&lt;canvas</span> <span class="na">id=</span><span class="s">"myCanvas"</span> <span class="na">width=</span><span class="s">"350"</span> <span class="na">height=</span><span class="s">"200"</span><span class="nt">&gt;&lt;/canvas&gt;</span></pre></div>
                <p>Use grid like this:</p>
                <div class="highlight">
<pre>
<span class="kd">var</span> <span class="nx">canvas</span> <span class="o">=</span> <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s2">"myCanvas"</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">context</span> <span class="o">=</span> <span class="nx">canvas</span><span class="p">.</span><span class="nx">getContext</span><span class="p">(</span><span class="s2">"2d"</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">opts</span> <span class="o">=</span> <span class="p">{</span>
    <span class="nx">distance</span> <span class="o">:</span> <span class="mi"><span>{{config.distance}}</span></span><span class="p">,</span>
    <span class="nx">lineWidth</span> <span class="o">:</span> <span class="mf"><span>{{config.lineWidth}}</span></span><span class="p">,</span>
    <span class="nx">gridColor</span> <span class="o">:</span> <span class="s2">"<span>{{config.gridColor}}</span>"</span><span class="p">,</span>
    <span class="nx">caption</span> <span class="o">:</span> <span class="kc"><span>{{config.caption}}</span></span><span class="p">,</span>
    <span class="nx">horizontalLines</span> <span class="o">:</span> <span class="kc"><span>{{config.horizontalLines}}</span></span><span class="p">,</span>
    <span class="nx">verticalLines</span> <span class="o">:</span> <span class="kc"><span>{{config.verticalLines}}</span></span>
<span class="p">};</span>
<span class="k">new</span> <span class="nx">Grid</span><span class="p">(</span><span class="nx">opts</span><span class="p">).</span><span class="nx">draw</span><span class="p">(</span><span class="nx">context</span><span class="p">);</span>
</pre>
                </div>

                <h2>Support or Contact</h2>
                <p>
                    <img src="https://pbs.twimg.com/profile_images/745199995/daniel_profile_bigger.jpg" alt="Daniel Sirz" valign="top" align="left" id="twitter_image" />
                    If you encounter any problems, please use the <a href="https://github.com/enterprisebug/grid.js/issues">GitHub issue tracker</a>.<br />
                    For updates <a href="http://twitter.com/danielsirz">follow me on Twitter</a>.<br />
                    If you like <a href="https://github.com/enterprisebug/grid.js">grid.js</a>, let me know.<br /><br />
                </p>
                <h2>Changes</h2>

                <h3>Version 1.2 (2015-09-08)</h3>
                <ul>
                    <li>show horizonzal line switch</li>
                    <li>show vertical line switch</li>
                </ul>

                <h3>Version 1.1 (2012-08-20)</h3>
                <ul>
                    <li>Added Caption</li>
                    <li>Added gridColor</li>
                </ul>

                <h3>Version 1.0 (2012-08-14)</h3>
                <ul>
                    <li>Initial Realease</li>
                </ul>
            </section>
        </div>
        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright">Grid.js maintained by <a href="https://github.com/enterprisebug">enterprisebug</a></p>
                <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
            </footer>
        </div>
    </div>

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-34207705-1");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
</html>
